<div class="table__body">
  {{#each @services as |item idx|}}
    <div data-test-row={{idx}} class="table__row">
      <div class="table__cell">
        <a
          href={{concat "https://updown.io/" item.token}}
          rel="noopener noreferrer"
          target="_blank"
        >
          {{item.alias}}
        </a>
      </div>
      <div class="table__cell">
        {{if item.down "DOWN" "UP"}}
      </div>
      <div class="table__cell">
        {{fixed item.uptime}}
      </div>
      <div class="table__cell">
        <LinkTo
          data-test-btn="details"
          @route="item" @model={{item}}
        >
          Details
        </LinkTo>
      </div>
    </div>
  {{/each}}
</div>
